.capability-line {
    padding: 30px;
    margin: 0 auto;
    width: 1200px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(48,48,48,0.50);
    border-radius: 5px;

    :global(.echarts-chart) {
        width: 100%;
        height: 600px;
        margin: 0 auto;
    }
}