.table-container {
    margin: 5px auto;
    padding: 5px;
    overflow-y: auto;
    width: 100%;
    // min-height: 185px;
    border-radius: 0 0 6px 6px;
    background: #FFFFFF;
    font-size: 12px;
}