.table-container {
    padding: 5px;
    margin: 0 auto;
    overflow-y: auto;
    flex: 1;
    width: 100%;
    min-height: 185px;
    border-radius: 0 0 6px 6px;
    background: #FFFFFF;
    font-size: 12px;
}