.container {
	position: relative;
	margin-bottom: 15px;
	width: 280px;
	// min-height: 165px;
	font-size: 0;
	border: 1px solid rgba(0,0,0,.125);
	background-color: #FBFBFB;

	.c-inside {
		display: inline-block;
		vertical-align: top;

		&.right {
			width: 280px;
			height: auto;
			padding: 15px;
			font-size: 14px;

			p {
				margin-bottom: 10px;
			}

			.title {
				line-height: 20px;
				font-size: 16px;
				color: #4A90E2;
				letter-spacing: 3.5px;
			}

			.feature {
				margin: 0 0 10px;
				width: 240px;
				line-height: 20px;
				font-size: 14px;
				color: #485465;
				letter-spacing: 1.5px;

				.point {
					margin: 0;
					padding: 0;
					line-height: 24px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3; //第三行
					border: 0;
					white-space: inherit;
					background: transparent;
				}
			}
		}
	}
}

.popover-medic {
	width: 380px;
	max-width: 380px !important;
	background: red;

	.c-inside {
		display: inline-block;
		vertical-align: top;

		&.right {
			width: 380px;
			height: auto;
			padding: 15px 15px 0;
			font-size: 14px;

			p {
				margin-bottom: 10px;
			}

			.title {
				line-height: 20px;
				font-size: 16px;
				color: #4A90E2;
				letter-spacing: 3.5px;
			}

			.subtitle {
				margin-bottom: 8px;
				line-height: 20px;
				font-size: 14px;
				color: #4A90E2;
				letter-spacing: 3.5px;
			}

			.feature {
				width: 340px;
				line-height: 20px;
				font-size: 14px;
				color: #485465;
				letter-spacing: 1.5px;

				span {
					display: inline-block;
					vertical-align: top;
					width: 80px;
				}

				.point {
					line-height: 24px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3; //第三行
					border: 0;
					white-space: inherit;
					background: transparent;
				}
			}

			.department,
			.heal {
				span {
					display: inline-block;
					vertical-align: top;
					height: 25px;
					line-height: 25px;
				}

				span:first-child {
					font-size: 14px;
					color: #485465;
					letter-spacing: 1.5px;
				}

				span:not(:first-child) {
					display: inline-block;
					min-width: 70px;
					max-width: 100px;
					overflow-x: hidden;
					height: 25px;
					line-height: 25px;
					text-align: center;
					font-size: 14px;
					color: #FFFFFF;
					letter-spacing: 1.5px;
					border-radius: 3px;
				}
			}

			.heal span:not(:first-child) {
				background: #8AE8D3;
			}

			.department span:not(:first-child) {
				background: #FFD58F;
			}
		}
	}
}