.evaluation-title {
	width: 1060px;
	margin-bottom: 25px;

	.title {
		height: 28px;
		line-height: 28px;
		font-size: 20px;
		letter-spacing: 3px;
		color: #4A90E2;
	}

	.content {
		line-height: 25px;
		font-size: 14px;
		letter-spacing: 2px;
		color: #767A80;
	}
}