.rep-input {
	background-color: rgba(0,0,0,.2);
	margin-bottom: 10px;

	.title {
		height: 20px;
		line-height: 20px;
		font-size: 14px;
		color: #4A90E2;
		letter-spacing: 2px;
	}

	.desc {
		line-height: 20px;
		font-size: 14px;
		color: #767A80;
		letter-spacing: 3.5px;
		text-align: justify;
		line-height: 21px;
	}

	.input-container {
		margin: 0;

		.input-con {
			margin-bottom: 10px;
		}

		.input-title {
			line-height: 20px;
			font-size: 14px;
			color: #767A80;
			letter-spacing: 3.5px;
			text-align: justify;
		}
	}
}