.rep-input {
	margin-bottom: 10px;
	// margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	overflow: hidden;
	width: 100%;
	height: auto;
	border: 1px solid rgba(0, 0, 0, 0.125);

	.title {
		// height: 20px;
		// line-height: 20px;
		// font-size: 14px;
		// color: #4A90E2;
		// letter-spacing: 2px;
		padding: 10px 15px;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);
		background: #d9edf7;
		line-height: 30px;
		font-size: 14px;
		color: #474747;
		font-weight: bold;
		font-style: italic;
		letter-spacing: 3.5px;
		text-align: justify;
		line-height: 21px;
	}

	.desc {
		line-height: 20px;
		font-size: 14px;
		color: #767A80;
		letter-spacing: 3.5px;
		text-align: justify;
		line-height: 21px;
	}

	.input-container {
		margin: 0;
		height: 200px;

		.input-line {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.person-info {
			margin-top: 10px;
			margin-bottom: 10px;
			height: 180px;

			.panel {
				height: 180px;
				overflow: hidden;
			}
		}

		.person-radio {
			display: flex;
			width: 100%;
			justify-content: center;
		}

		.input-con {
			margin-bottom: 10px;
		}

		.input-title {
			line-height: 20px;
			font-size: 14px;
			color: #767A80;
			letter-spacing: 3.5px;
			text-align: justify;
		}
	}
}