$default-radius: 3px;

.medicine-container {
    overflow-y: auto;
    max-height: 400px;
    .medicine-item {
        margin: 15px auto;
        padding: 7px 15px;
        width: 230px;
        height: 140px;
        font-size: 0;
        border-radius: $default-radius + 2px;
        color: #FFF;
        background-image: linear-gradient(108deg, #4D608F 0%, #93A2CF 100%);
        box-shadow: 0 1px 2px 0 rgba(91,91,91,0.50);

        .title {
            font-family: PingFangTC-Regular;
            font-size: 14px;
            letter-spacing: 2.5px;
        }

        .potential {
            margin: 15px auto 25px;
            width: 190px;
            height: 25px;
            line-height: 26px;
            font-family: PingFangTC-Regular;
            font-size: 12px;
            letter-spacing: 1px;
            border-radius: 100px;
            color: #4A4A4A;
            background-color: #FFF;

            span:first-child {
                margin-left: 16px;
            }

            span:last-child {
                float: right;
                margin-right: 16px;
            }
        }

        .parameter {
            display: flex;
            font-family: PingFangTC-Regular;
            font-size: 12px;
            text-align: center;

            .param-item p:first-child {
                margin-bottom: 8px;
                letter-spacing: 1.2px;
            }

            .param-item p:last-child {
                letter-spacing: 1.8px;
            }

            .sell-money {
                flex: 1;
            }

            .contribution {
                flex: 0 0 55px;
            }

            .share {
                flex: 0 0 55px;
            }
        }
    }
}
