.rep-detail {
	display: inline-block;
	padding: 10px 0;
	width: 840px;
	height: 100%;
	min-height: 620px;
	border-radius: 2px;
	font-size: 0;
	background-color: #FBFBFB;

	.inside {
		display: inline-block;
		height: 100%;
		vertical-align: top;
	}

	.left {
		width: 578px;

		.back {
			padding: 0 20px;
			font-size: 14px;
			letter-spacing: 2px;
			color: #4A90E2;

			span {
				padding-right: 10px;
				cursor: pointer;
			}
		}

		.avatar {
			text-align: center;

			img {
				width: 85px;
				height: 85px;
				border-radius: 50%;
			}

			p {
				margin: 10px 0 0;
				height: 25px;
				line-height: 25px;
				font-size: 18px;
				color: #4A90E2;
				letter-spacing: 3px;
			}
		}

		.self {
			margin: 30px 0;
			line-height: 21px;
			font-family: PingFangTC-Regular;
			font-size: 14px;
			color: #767A80;
			letter-spacing: 3.5px;
			text-align: center;
			line-height: 21px;
		}

		.square {
			margin-left: 60px;
			margin-bottom: 60px;

			p {
				margin-bottom: 15px;
			}

			p span {
				display: inline-block;
			}

			p span:first-child {
				width: 80px;
				line-height: 21px;
				font-size: 14px;
				color: #767A80;
				letter-spacing: 2px;
				text-align: justify;
			}

			p:first-child span:not(:first-child) {
				background-color: #F8D499;
			}

			p:nth-child(2) span:not(:first-child) {
				background-color: #6FE1C7;
			}

			p:last-child span:not(:first-child) {
				background-color: #F4A0AA;
			}

			p span:not(:first-child) {
				margin-left: 15px;
				padding: 0 5px;
				min-width: 85px;
				height: 25px;
				line-height: 25px;
				border-radius: 3px;
				font-size: 14px;
				letter-spacing: 1.75px;
				text-align: center;
				color: #FFFFFF;
			}
		}

		.scores {
			text-align: center;

			.s-inside:last-child {
				margin: 0;
			}

			.s-inside {
				display: inline-block;
				margin-right: 50px;
				padding: 15px 0;
				width: 100px;
				height: 100px;
				text-align: center;
				background: #F6F6F6;
				border-radius: 3px;

				p:first-child {
					font-size: 14px;
					color: #767A80;
					letter-spacing: 3px;
				}

				p:nth-child(2) {
					font-size: 36px;
					color: #767A80;
					letter-spacing: 7.5px;
				}
			}
		}
	}

	.right {
		padding: 40px 20px;
		width: 240px;
		border-left: 1px dotted #1F4F87;

		.input-area {
			margin-bottom: 15px;
			//display: inline-block;
			padding: 15px 20px;
			width: 220px;
			height: 80px;
			border-radius: 1px;
			background-color: #F0F2FF;
			box-shadow: 0 2px 4px 0 rgba(174,174,174,0.50);

			p:first-child {
				font-size: 12px;
				color: #474747;
				letter-spacing: 1.5px;
			}

			p.input-text {
				vertical-align: bottom;

				input {
					border: 0;
					padding: 5px 10px;
					width: 120px;
					height: 30px;
					line-height: 20px;
					text-align: center;
					font-size: 24px;
					color: #474747;
				}

				span.day {
					margin-left: 5px;
					padding-top: 5px;
					font-size: 12px;
					color: #474747;
					letter-spacing: 0.67px;
				}

				span.daysnum {
					display: inline-block;
					width: 120px;
					font-size: 24px;
					text-align: center;
					color: #474747;
					letter-spacing: 1.5px;
					text-align: center;
				}
			}
		}
	}
}
