.representative {
	margin: 0 0 10px;
	padding: 18px 25px;
	// width: 800px;
	width: 100%;
	height: 100px;
	font-size: 0;
	border-radius: 2px;
	background-color: #F0F2FF;
	cursor: pointer;

	.name {
		.avatar {
			width: 64px;
			height: 64px;
			vertical-align: top;
			border-radius: 50%;
		}

		span {
			display: inline-block;
			margin-left: 17px;
			height: 64px;
			line-height: 64px;
			font-size: 14px;
			letter-spacing: 2.33px;
			color: #4A90E2;
		}
	}

	.info {
		display: inline-block;
		width: 100px;
		height: 64px;
		vertical-align: top;
		text-align: center;

		p:first-child {
			margin-bottom: 12px;
			line-height: 18px;
			font-size: 12px;
			color: #4A4A4A;
			letter-spacing: 1.29px;
		}

		p:nth-child(2) {
			line-height: 30px;
			font-size: 24px;
			color: #4A90E2;
			letter-spacing: 2.57px;
		}
	};
}