.basic-info {
	height: 125px;
	margin: 0;
	padding: 15px 0;
	border-radius: 6px 6px 0 0;
	background-image: linear-gradient(110deg, #4D608F 0%, #8F9CC3 100%);
	box-shadow: 0 3px 14px 0 rgba(166,166,166,0.50);

	.info-left {
		padding-left: 15px;
		color: #EDEDED;
		font-size: 0;

		.avatar {
			img {
				width: 90px;
				height: 90px;
				border-radius: 50%;
			}
		}

		.title {
			margin-bottom: 14px;

			span:first-child {
				font-size: 18px;
				color: #EDEDED;
				letter-spacing: 3px;
			}

			span:not(:first-child) {
				margin-left: 10px;
				font-size: 12px;
				color: #FFFFFF;
				letter-spacing: 1.6px;
			}
		}

		.department {
			margin-bottom: 12px;
			height: 20px;
			overflow: hidden;

			span {
				display: inline-block;
				vertical-align: top;
			}

			span:first-child {
				font-size: 14px;
				letter-spacing: 1.5px;
			}

			span:not(:first-child) {
				margin: 0 5px;
				height: 20px;
				line-height: 20px;
				width: 70px;
				overflow: hidden;
				overflow: hidden;
				text-align: center;
				font-size: 12px;
				color: #FFFFFF;
				letter-spacing: 1.5px;
				background-color: #75A9E5;
			}
		}

		.outpatient {
			span {
				display: inline-block;
				vertical-align: top;
			}

			span:first-child {
				font-size: 14px;
				letter-spacing: 1.5px;
			}

			span:not(:first-child) {
				margin: 0 5px;
				height: 20px;
				line-height: 20px;
				width: 70px;
				overflow: hidden;
				overflow: hidden;
				text-align: center;
				font-size: 12px;
				color: #FFFFFF;
				letter-spacing: 1.5px;
				background-color: #8AE8D3;
			}
		}
	}

	.info-right {
		.sign-person {
			float: right;
			margin-right: 25px;
			margin-top: 20px;
			padding: 10px 14px;
			width: 280px;
			height: 70px;
			border-radius: 6px;
			background-color: #F9F9F9;

			.sign-title {
				margin-bottom: 8px;
				font-family: PingFangTC-Regular;
				font-size: 0;

				p:first-child {
					height: 16px;
					line-height: 16px;
					font-size: 14px;
					letter-spacing: 2px;
					color: #000000;

					span {
						height: 16px;
						font-size: 10px;
						letter-spacing: 2px;
						line-height: 16px;
						color: #575C6C;
					}
				}
			}

			.sign-choose {
				//用div的样式代替select的样式
				margin-left: 80px;
				position: relative;
				width: 174px;
				height: 30px;
				border-radius: 5px;
				color: #575757;

				.choose {
					//清除select的边框样式
					border: none;
					//清除select聚焦时候的边框颜色
					outline: none;
					//将select的宽高等于div的宽高
					width: 100%;
					height: 30px;
					line-height: 30px;
					//隐藏select的下拉图标
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					//通过padding-left的值让文字居中
					padding-left: 60px;
					background-color: rgba(216,216,216,.37);
				}

				&:after {
					content: "";
					width: 14px;
					height: 8px;
					background: url("https://i.loli.net/2018/08/08/5b6a8854012ac.png") no-repeat center;
					//通过定位将图标放在合适的位置
					position: absolute;
					right: 20px;
					top: 45%;
					//给自定义的图标实现点击下来功能
					pointer-events: none;
				}
			}
		}
	}
}