.all-reps {
    padding: 10px 20px;
    width: 840px;
    height: auto;
    border-radius: 2px;
    background-color: #F9F9F9;

    .title {
        padding: 5px;
        // height: 20px;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 2px;
        color: #4A90E2;
    }
}