{{yield}}
<div local-class="hosp-detail" class="container">
	<div local-class="total-info" class="row">
		{{#mapping-components result.component_data as |componentName component|}}
			{{component.component}}
		{{/mapping-components}}
	</div>
</div>
