{{yield}}
<div local-class="hosp-detail" class="container">
	<div local-class="basic-info" class="row">
		{{#mapping-components result.component_data as |componentName component|}}
			{{component.component}}
		{{/mapping-components}}
	</div>
	<div local-class="medicine-info">
		<div local-class="medicine">
			<div local-class="right-content">
				{{!-- {{self-table model=columnsHospitalValue columns=columnsHospital selfheight='480px'}} --}}
			</div>
		</div>
	</div>
</div>
