{{#each data as |item|}}
    <div local-class="hosp-item" {{action 'linkPage' item.id}}>
        {{#mapping-components item.component_data as |componentName component|}}
            {{component.component changeData=(action 'changeData')}}
        {{/mapping-components}}
    </div>
{{/each}}
