{{#bs-tab customTabs=true tagName="" as |tab| }}
    {{#bs-nav type="pills" local-class="left-tabs" stacked=true as |nav|}}
        {{#nav.item local-class="tab" active=(bs-eq tab.activeId "medicineid")}}
            <a local-class="tabsa" href="medicineid" class="nav-link" role="tab" {{action tab.select "medicineid"}}>
                <span class="badge">M</span>
            </a>
        {{/nav.item}}
        {{#nav.item local-class="tab" active=(bs-eq tab.activeId "notice")}}
            <a local-class="tabsa" href="medicineid" class="nav-link" role="tab" {{action tab.select "notice"}}>
                <span class="badge">N</span>
            </a>
        {{/nav.item}}
    {{/bs-nav}}
    <div class="tab-content" local-class="right-content">
        {{#tab.pane local-class="medicine-detail" elementId="medicineid" title="Tab 1" }}
            <h2>药品card</h2>
            {{drug-item data=data.medicines}}
        {{/tab.pane}}

        {{#tab.pane local-class="medicine-detail" elementId="notice" title="Tab 2" }}
            <h2>通知</h2>
            {{drug-item data=data.notices}}
        {{/tab.pane}}
    </div>
{{/bs-tab}}
