{{!-- {{#mapping-components data.component_data as |componentName component|}} --}}
<div local-class="column center">
    <div local-class="inside">
        {{accordion-hospital
            getHospInfo=(action 'getHospInfo')
            totalBugdetRatio=(action 'totalBugdetRatio')
            }}
    </div>
</div>
<div local-class="column left">
    {{vertical-tabs getMandN=(action 'getMedicNotices')}}
</div>
<div local-class="column right">
    {{vertical-right-tabs getRandB=(action 'getRepBudget')}}
</div>
{{yield}}
