{{!-- {{#mapping-components data.component_data as |componentName component|}} --}}
<div local-class="column left">
    {{#mapping-components data.component_data as |componentName component|}}
        {{#if (eq componentName.componentName "vertical-tabs")}}
            {{component.component }}
        {{/if}}
    {{/mapping-components}}
</div>
<div local-class="column center">
    {{#mapping-components data.component_data as |componentName component|}}
        {{#if (eq componentName.componentName "target-hospital-info-card")}}
            {{component.component }}
        {{/if}}
    {{/mapping-components}}
</div>
<div local-class="column right">
    <div local-class="inside">
            
    </div>
</div>
{{!-- {{/mapping-components}} --}}
{{yield}}
