{{#each data as |item|}}
	<div local-class="evaluation-title">
		<p local-class="title">{{item.title}}</p>
		<p local-class="content">{{item.content}}</p>
		{{ability-card data=item.ability}}
	</div>
{{/each}}
