{{!-- {{#each data as |summary|}} --}}
	<div local-class="summary-card">
		<div local-class="s-inside title">
			<p>{{data.title}}</p>
		</div>
		<div local-class="s-inside desc">
			<ul local-class="sum-desc">
				{{#each data.desc as |desc|}}
					<li local-class="content">{{desc}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
{{!-- {{/each}} --}}
