{{yield}}
<div local-class="manager-times">
    <p local-class="title">经理时间分配</p>
    <div local-class="input-area">
        <p>KPI分析</p>
        <p local-class="input-text">{{input type="text" value="0" local-class="t-input"}}<span local-class="day">天</span></p>
    </div>
    <div local-class="input-area">
        <p>团建/例会</p>
        <p local-class="input-text">{{input type="text" value="0" local-class="t-input"}}<span local-class="day">天</span></p>
    </div>
    <div local-class="input-area">
        <p>行政事务</p>
        <p local-class="input-text">{{input type="text" value="0" local-class="t-input"}}<span local-class="day">天</span></p>
    </div>
    <div local-class="input-area">
        <p>1V1能力辅导</p>
        <p local-class="input-text"><span local-class="daysnum">23</span><span local-class="day">天</span></p>
    </div>
    <div local-class="input-area">
        <p>协助拜访</p>
        <p local-class="input-text"><span local-class="daysnum">23</span><span local-class="day">天</span></p>
    </div>
</div>
