<div local-class="hosp-intro">
	<div local-class="basic-info">
		<div local-class="circle-left">
		</div>
		<div local-class="circle-right">
		</div>
		<img local-class="avatar" src="https://pharbers-images.oss-cn-beijing.aliyuncs.com/pharbers-tm-hospital-list-ember-addon/hosp_avatar.png" alt="">
		<div local-class="name">
			<p>{{data.hosp_name}}</p>
			<p>{{data.hosp_category}}/{{data.hosp_level}}</p>
		</div>
	</div>
	<div local-class="tag">
		<p local-class="tag-title">重点科室：</p>
		<div local-class="tag-card blue">
			<p>皮肤科</p>
			<p>神经外科</p>
			<p>外科</p>
		</div>
	</div>
    <div local-class="tag">
            <p local-class="tag-title">特色门诊：</p>
            <div local-class="tag-card">
              <div local-class="tag-card green">
                <p>糖尿病足</p>
                <p>微创外科</p>
              </div>
            </div>
          </div>
</div>
