.hospital-decision {
    padding-left: 280px;
    padding-right: 280px;
    min-width: 1200px !important;
    height: 100%;

    .column {
        position: relative;
        padding-top: 45px;
        float: left;
        height: 100%;
    }

    .center {
        position: relative;
        padding-bottom: 40px;
        width: 100%;
        background-color: #e9e9e9;
        overflow: hidden;

        .inside {
            position: absolute;
            top: 45px;
            right: -15px;
            bottom: 40px;
            left: 0;
            overflow: auto;
        }
    }

    .left {
        margin-left: -100%;
        width: 280px;
        right: 280px;
        background-color: #F9F9F9;
    }

    .right {
        width: 280px;
        margin-right: -280px;
    }
}