.left-tabs {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 45px;
    padding-top: 16px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    background-image: linear-gradient(137deg, #4060AE 0%, #8F9CC3 100%);

    .tab {
        display: inline-block;
        margin-bottom: 14px;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        background-color: #FFFFFF;
        opacity: 0.56;
        cursor: pointer;

        .tabsa {
            padding: 0;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            color: #EEE;
        }
    }

    .medicine-tab-active {
        background-color: #4D8DD8;
    }
}

.right-content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 230px;
    padding: 20px 5px 0;
    border-radius: 0 4px 4px 0;
    background-color: #FFF;
    font-size: 14px;
}